body, html {
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

#form-task, #add-task[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form-task > .form-row {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    border: solid 2px blue;
    border-radius: 1rem;
    gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 2px red;
    border-radius: 1rem;
    gap: 1rem;
}

.project-name {
    font-size: 2rem;
    font-weight: 700;
}

.project-details {
    font-size: 1.4rem;
    font-weight: 400;
}

.new-task-button > button {
    background-color: rgb(103, 184, 255, 0.5);
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
}

.new-task-button > button:hover {
    background-color: rgb(103, 184, 255);
    border: none;
    cursor: pointer;
}

.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    padding: 1rem;
    gap: 1rem;
}

.task-list > * {
    padding: 1rem;
    border: solid 2px purple;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.task-list .name {
    font-size: 1.3rem;
    font-weight: 600;
}

.task-list .date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.task-list .date,
.task-list .time {
    font-size: 1.2rem;
    font-weight: 500;
}

.task-list .date {
    margin-right: auto;
}

.task-list .details {
    font-size: 1.1rem;
}

.task-list hr {
    border-top: 1px solid black;
    width: 100%;
}

.task-list .notes,
.task-list .checklist {
    display: block;
}

.task-list .priority {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priority > select {
    width: 50%;
}

.task-list .finish-buttons,
.task-list .edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}

.task-list .edit-buttons {
    visibility: hidden;
}

.task-list .task:hover .edit-buttons {
    visibility: visible;
}

/* New Task Card*/

.edit-task > *:not(hr, button),
.edit-task > .date-time > *,
.task > *:not(hr, button),
.task > .date-time > * {
    padding: 0.2rem;
    border: solid 1px transparent;
}

.edit-task > *:not(hr, button, .date-time, .finish-buttons):hover,
.edit-task > .date-time > *:hover {
    border: solid 1px black;
}

input[type="date"],
input[type="time"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.edit-task *:empty::before {
    cursor: text;
}


/* 

.edit-task > .name[contenteditable]:empty::before {
    content: "Title";
    color: gray;
}

.edit-task > .date-time > .date:empty::before {
    content: "Date";
    color: gray;
}

.edit-task > .date-time > .time:empty::before {
    content: "Time";
    color: gray;
}

.edit-task > .details[contenteditable]:empty::before {
    content: "Details";
    color: gray;
}

.edit-task > .notes[contenteditable]:empty::before {
    content: "Notes";
    color: gray;
}  

*/



