body, html {
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

#form-task, #add-task[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form-task > .form-row {
    display: flex;
    flex-direction: column;
}

.todo-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 2px orange;
    border-radius: 1rem;
    gap: 2rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    border: solid 2px blue;
    border-radius: 1rem;
    gap: 2rem;
}

.add-project > .add-project-button {
    background-color: rgb(128, 255, 128, 0.5);
    width: 100%;
    padding: 2rem;
    font-size: 5rem;
    border: none;
    border-radius: 3rem;
}

.add-project > .add-project-button:hover {
    background-color: rgb(128, 255, 128);
}

.project {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 2px red;
    border-radius: 1rem;
    gap: 1rem;
}

.project > .name {
    font-size: 2rem;
    font-weight: 700;
}

.project > .details {
    font-size: 1.4rem;
    font-weight: 400;
}

.edit-project-buttons {
    display: flex;
    gap: 1rem;
}

.edit-project-buttons > * {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
}

.edit-project-buttons > *:hover {
    border: none;
    cursor: pointer;
}


.edit-project-buttons > .add-task-button{
    background-color: rgb(103, 184, 255, 0.5);
}

.edit-project-buttons > .add-task-button:hover {
    background-color: rgb(103, 184, 255);
}

.edit-project-buttons > .edit-project-button{
    background-color: rgba(255, 207, 103, 0.5);
}

.edit-project-buttons > .edit-project-button:hover {
    background-color: rgb(255, 207, 103);
}

.edit-project-buttons > .edit-project-button:disabled,
.edit-project-buttons > .edit-project-button:hover:disabled {
    background-color: rgb(201, 201, 201);
}

.edit-project-buttons > .delete-project-button{
    background-color: rgba(255, 111, 111, 0.5);
}

.edit-project-buttons > .delete-project-button:hover {
    background-color: rgb(255, 111, 111);
}

.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    align-items: start;
    padding: 1rem;
    gap: 1rem;
}

.task-list > * {
    padding: 1rem;
    border: solid 2px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow-wrap: break-word;
}

.task-list .task {
    position: relative;
}

.task-list .name {
    font-size: 1.3rem;
    font-weight: 600;
}

.task-list .date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.task-list .date,
.task-list .time {
    font-size: 1.2rem;
    font-weight: 500;
}

.task-list .date {
    margin-right: auto;
}

.task-list .details {
    font-size: 1.1rem;
}

.task-list hr {
    border-top: 1px solid;
    width: 100%;
}

.task-list .notes,
.task-list .checklist {
    display: block;
}

.task-list .priority {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-list .finish-buttons,
.task-list .edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}


.task-list .checklist {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
}


.task-list .checklist-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.5rem;
}

.checklist-item .item-content {
    padding: 0.2rem;
}

.checklist-item .item-checkbox {
    margin-top: 0.4rem;
}

.checklist-item .item-delete {
    border-radius: 1rem;
    margin-top: 0.2rem;
}

.task-list .add-checklist-item {
    margin-top: 0.4rem;
    width: 100%;
}

.task .expand-collapse {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-weight: 700;
    border-radius: 1rem;
}

.task .collapsible {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task .hidden {
    display: none;
}

/* I need to do something different lmao */
.project > .name,
.project > .details,
.edit-task > *:not(hr, button),
.edit-task > .date-time > *,
.task > *:not(hr, button),
.task > .date-time > * {
    padding: 0.2rem;
    border: solid 1px transparent;
}

/* Edit Task Card (and project too) */

.edit-task .hidden {
    display: none;
}

.edit-task .make-checklist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priority > select {
    width: 50%;
}

[contenteditable]:hover {
    border: solid 1px black;
}

/* .edit-task > *:not(hr, button, .date-time, .finish-buttons):hover,
.edit-task > .date-time > *:hover {
    border: solid 1px black;
} */

.edit-task *:empty::before {
    cursor: text;
}

input[type="date"],
input[type="time"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Completed Content */

.done .name,
.done .details,
.done .date-time,
.done .item-content {
    text-decoration: line-through;
}


/* Priority */

.priority-low {
    border-top: solid 8px green;
}

.priority-medium {
    border-top: solid 8px orange;
}

.priority-high {
    border-top: solid 8px red;
}

.priority-low.done,
.priority-medium.done,
.priority-high.done,
.edit-task {
    border-top: solid 8px black;
}



